{% extends './front/base_front.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>NomVictime</th>
                <td>{{ demande.nomVictime }}</td>
            </tr>
            <tr>
                <th>NumConstat</th>
                <td>{{ demande.numConstat }}</td>
            </tr>
            <tr>
                <th>DateRealisation</th>
                <td>{{ demande.dateRealisation ? demande.dateRealisation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ demande.localisation }}</td>
            </tr>
            <tr>
                <th>EtatDemande</th>
                <td>{{ demande.etatDemande }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demande_index') }}">back to list</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
